{% extends "base.html" %}

{% block content %}
<form action="" method="post">
  <input type="color" id="colorpicker" value="#ff0000" />
  <button value="colorpicker" type="submit" name="colorChange">Changer la couleur</button>
</form>

<form action="" method="post">
  <button value="clearLED" id="clearLED" name="colorChange" type="submit">éteindre</button>
</form>

<form action="" method="post">
  <button value="red" id="red" name="colorChange" type="submit">Rouge</button>
</form>
{% endblock %}